{{>header}}

<div class="allMessages">
    <div class="messageList">
        {{#messages}}
            <div class="message" onclick="setViewMessage({{id}})">
                <img src={{imageurl}}>
                <p>{{firstname}} {{lastname}}</p>
                <p>{{subject}}</p>
                <p>{{senddate}}</p>
            </div>
        {{/messages}}
    </div>

    <div class="messageReplies">

    </div>
</div>

<script>
    const user = JSON.parse('{{{userData}}}');
    const messagesData = JSON.parse('{{{messagesData}}}');
    let activeMessage;

    const setViewMessage = id => {
        activeMessage = messagesData.find(message=>message.id == id);
        //console.log(activeMessage);
        let messageReplies = document.querySelector(".messageReplies");
        let firstMessage = createMessageNode(activeMessage);
        let replies = activeMessage.replies.map(reply => createMessageNode(reply)).join('');
        let replyForm = createReplyForm(activeMessage);
        messageReplies.innerHTML = firstMessage+replies+replyForm;
    }

    const createMessageNode = message =>{
        return `
            <div class="reply">
                <p class="replyDate">${message.senddate}</p>
                <p class="replyName">${message.firstname} ${message.lastname}</p>
                <p class="replyDetails">${message.details}</p>
            </div>
        `;
    }

    const createReplyForm = message => {
        return `
            <form class="messageReplyForm" action="/user/${user.id}/message/${message.id}/reply" method="POST">
                <textarea name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                <input type="submit">
            </form> 
        `;
    }

    setViewMessage(messagesData[0].id);
    
</script>

