{{>header}}

<div class="profile-section">
    <!-- shows the profile of the person selected, showing the info of the person and all the post of the person by chronological order -->
    <div class="profile-head">
        
        <div class="profile-left">
            <div class="profile-pic">
                <img src={{userProfile.imageurl}}>
            </div>
            <div class="profile-info">
                <p class="profile-name">{{userProfile.firstname}} {{userProfile.lastname}}</p>
                <p>{{userProfile.about}}</p>
                <p>{{userProfile.country}}</p>
            </div>
        </div>
        
        <div class="profile-right">
            <a href="/user/{{userProfile.id}}/message/new">
                <button class="profile-message-button">Message</button>
            </a>
            <div>
                <p class="num-likes">{{userProfile.likes}} Likes<a href="/user/{{userProfile.id}}/likes" class="add-button">+</a></p>
            </div>
            <div class="num-posts">
                <p>{{userProfile.postcount}} Posts</p>
            </div>
        </div>
        
    </div><!-- end of profile-head -->
    
    <div class="profile-middle">
        <p>All posts by {{userProfile.firstname}}</p>
    </div>
    
    <div class="profile-posts">
        {{#posts}}
        <div class="pfp">
            <img src={{../userProfile.imageurl}}>
        </div>
        <div class="result">
            <div class="msg-title">
                <p>{{heading}}</p>
            </div>
            <div class="topic">
                <p>{{category}}</p>
            </div>
            <div class="msg-desc">
                 <p>{{details}}</p>
            </div>
            <div class="date-posted">
                <p>{{senddate}}</p>
            </div>
            <div class="num-replies">
                <!-- retrieve replies on click -->
                <p onclick="toggleProfileReplies({{id}})" >{{replycount}} replies</p>
            </div>
            <div class="replies" id="profile-replies{{id}}">
                {{#replies }}
                    <!-- one reply -->
                    <div class="reply">
                        <div class="pfp">
                            <!-- placeholder pfp for this reply -->
                            <img src={{imageurl}}>
                        </div>
                        <div class="rep-msg">
                            <p>{{details}}</p>
                        </div>
                    </div>
                    
                {{/replies }}
                <form class="reply-form" action="/user/{{../user.id}}/post/{{id}}/reply" method="POST">
                    <textarea class="replyBox" name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                    <input class="submitBtn" type="submit">
                </form> 
            </div>
            
        </div>
        
        {{/posts}} 
    </div> 
    
</div><!-- end of profile-section -->



