{{>header}}
<!-- to show multiple search results based on search string -->
<div id="search-results">

    <!-- shows a single result, replace placeholders as neccessary for a profile message -->
     {{#each results}}
        <div class="single-result">
            <div class="pfp">
                <!-- placeholder image, replace with params -->
                <img src={{this.imageurl}}>
            </div>
            <div class="result">
                <div class="msg-title">
                    <p>{{this.heading}}</p>
                </div>
                <div class="topic">
                    <p>{{this.category}}</p>
                </div>
                <div class="msg-desc">
                    <p>{{this.details}}</p>
                </div>
                <div class="date-posted">
                    <p>{{this.senddate}}</p>
                </div>
                <div class="num-replies">
                    <!-- retrieve replies on click -->
                    <button>{{this.replycount}}</button>
                </div>
            </div>

            <!-- show replies under result -->
            <div class="replies">

                <!-- one reply -->
                <div class="reply">
                    <div class="rep-pfp">
                        <!-- placeholder pfp for this reply -->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg">
                    </div>
                    <div class="rep-msg">
                        <p>Reply message placeholder</p>
                    </div>
                </div>
                    
            </div><!-- end replies -->
            <form class="reply-form" action="/user/121/post/{{this.id}}/reply" method="POST">
                <textarea name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                <input type="submit">
            </form> 
        </div><!-- end single result -->      
    {{/each}}
    

</div><!-- end search results -->