{{>header}}
<!-- to show multiple search results based on search string -->
<div id="search-results">

    <!-- shows a single result, replace placeholders as neccessary for a profile message -->
     {{#results }}
        <div class="single-result">
            <div class="pfp">
                <!-- placeholder image, replace with params -->
                <img src={{imageurl}}>
            </div>
            <div class="result">
                <div class="msg-title">
                    <p>{{heading}}</p>
                </div>
                <div class="topic">
                    <p>{{category}}</p>
                </div>
                <div class="msg-desc">
                    <p>{{details}}</p>
                </div>
                <div class="date-posted">
                    <p>{{senddate}}</p>
                </div>
                <div class="num-replies">
                    <!-- retrieve replies on click -->
                    <button>{{replycount}} replies</button>
                </div>
            </div>

            <!-- show replies under result -->
            <div class="replies">

                {{#replies }}
                    <!-- one reply -->
                    <div class="reply">
                        <div class="rep-pfp">
                            <!-- placeholder pfp for this reply -->
                            <img src={{imageurl}}>
                        </div>
                        <div class="rep-msg">
                            <p>{{details}}</p>
                        </div>
                    </div>
                {{/replies }}
                    
            </div><!-- end replies -->
            <form class="reply-form" action="/user/{{../user.id}}/post/{{this.id}}/reply" method="POST">
                <textarea name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                <input type="submit">
            </form> 
        </div><!-- end single result -->      
    {{/results}}
    

</div><!-- end search results -->