{{>header}}
<!-- to show multiple search results based on search string -->
<div id="search-results" class = "AllResult">

    <!-- shows a single result, replace placeholders as neccessary for a profile message -->
     {{#results }}
        <div class="MyPost">
            
                <img class="MyImage" src={{imageurl}}>
                <div class="MyContent">
                    <div class="MyHCDiv">
                        <p class="MyHeading">{{heading}}</p>
                        <p class="MyCategory">{{category}}</p>
                    </div>
                
                    <p class="MyDetail">{{details}}</p>

                    <div class="MyTRDiv">
                        <p class="MyDate">{{senddate}}</p>
                        <p class="reply-count">{{replycount}} replies</p>
                    </div>
                

            <!-- show replies under result -->
            <div class="replies">

                {{#replies }}
                    <!-- one reply -->
                    <div class="reply">
                        <div class="rep-pfp">
                            <!-- placeholder pfp for this reply -->
                            <img src={{imageurl}}>
                        </div>
                        <div class="rep-msg">
                            <p>{{details}}</p>
                        </div>
                    </div>
                {{/replies }}
                    
            </div><!-- end replies -->
            <form class="reply-form" action="/user/{{../user.id}}/post/{{this.id}}/reply" method="POST">
                <textarea class="textfield" name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                <input class="submitBtn" type="submit">
            </form> 
            </div>
        </div><!-- end single result -->      
    {{/results}}
    

</div><!-- end search results -->