{{>header}}
<div id="home-section" class="flex">
    <div id="home-left">
        <div class="center">
            <img class="img-profile" src={{user.imageurl}}>
        </div>
        <div id="user-info" class="center">
            <p id="name" class="big bold">{{user.firstname}} {{user.lastname}}</p>
            <p id="user-desc" class="grey">{{user.about}}</p>
        </div>
        <div id="statistics">
            <div class="flex grey"><!-- post message likes area-->
                <div id="stat-name" class="no-margin">
                    <p><a  href="/user/{{user.id}}/post" class="text-color-blue">Posts</a></p>
                    <p><a  href="/user/{{user.id}}/message" class="text-color-blue">Messages</a></p>
                    <p>Likes</p>
                </div>
                
                <div id="stat-count" class="no-margin">
                    <p>{{user.postcount}}</p>
                    <p>{{user.messagecount}}</p>
                    <p>{{user.likes}}</p>
                </div>
            </div>
            
            <div>
                <p><a  href="/user/{{user.id}}/edit" class="text-color-blue">Edit Profile</a></p>
            </div>
        </div><!-- end of statistics -->
    </div><!-- end of home-left -->
    

    <div id="home-right">
        {{#if latestPosts}}
            <p class="big-XL bold grey no-margin">What's your question today?</p>
            <form id="question-form" action="/user/{{user.id}}/post" method="POST">
                <div id="typing-area" class="flex">
                    <input class="top-bottom-margin text-padding" name="heading" type="text" maxLength="40" placeholder="Subject" required>
                    <textarea class="top-bottom-margin" name="details" type="text" placeholder="Explain in detail..." cols="30" rows="6" required></textarea>
                </div>
                
                <div id="posting-area" class="top-bottom-margin-XL flex">
                    <div class="language-select">
                        <select class="dropdown-selection" name="category" required>
                            <option value="" disabled selected>Topic</option>
                            {{#each categories}}
                                <option value={{this.id}}>{{this.title}}</option>
                            {{/each}}
                        </select>
                    </div><!-- end of language-select -->
                    
                    <div>
                        <input id="post-button" class="post-button" type="submit" value="Post to timeline">
                    </div>
                </div><!-- end of posting-area -->
            </form><!-- end of question-form -->
            
            <div class="discussion-area">
                <div>
                    <p class="big">Latest discussions</p>
                </div>
                <div id="latestPosts">
                </div>
                <div class="paginate">
                    <button 
                        onclick="setLatestPosts(-1)"
                        class="paginate-button "
                        >
                        Prev
                    </button>
                    <button onclick="setLatestPosts(1)" class="paginate-button ">Next</button>
                </div>
            </div><!-- end of discussion-area -->
        {{else}}
            <div class="discussion-area">
                <div>
                    <p class="big">All Posts</p>
                </div>
                <div>
                    {{#each userPosts}}
                        <div class="MyPost">
                            <img src={{this.imageurl}} class="MyImage" />
                            <div class="MyContent">
                                <div class="MyHCDiv"> 
                            <p class="MyHeading">{{this.heading}}</p>
                            <p class="MyCategory">{{this.category}}</p>
                                </div>
                            <p class="MyDetail">{{this.details}}</p>
                                <div class="MyTRDiv">
                                <p class= "MyDate">{{senddate}}</p>
                            <p class="reply-count" onclick="toggleViewReplies({{this.id}})">{{this.replycount}} replies</p>
                                </div>
                            <div id="post-replies{{this.id}}" class="replies">
                                {{#each this.replies }}
                                    <!-- one reply -->
                                    <div class="reply">
                                        <div class="rep-pfp">
                                            <!-- placeholder pfp for this reply -->
                                            <img src={{this.imageurl}} class="img-reply">
                                        </div>
                                        <div class="rep-msg">
                                            <p>{{this.details}}</p>
                                        </div>
                                    </div>
                                {{/each}}
                                <form class="reply-form" action="/user/{{../user.id}}/post/{{this.id}}/reply" method="POST">
                                    <textarea name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                                    <input type="submit">
                                </form>
                            </div><!-- end replies --> 
                            </div><!-- end conetnt -->
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div><!-- end of home-right -->
</div><!-- end of home-section -->

<script>
    let lpString = '{{{latestPosts}}}';
    const latestPosts = lpString.length > 0 ? JSON.parse('{{{latestPosts}}}'): [];
    const user = JSON.parse('{{{userData}}}');
    let step  = 0;

    const setLatestPosts = direction =>{
        if(latestPosts.length <= 0)return;
        let newStep = step + direction;
        if(newStep < 0 || newStep * 5 >= latestPosts.length - 1){
            return;
        }
        step = newStep;
        let latestPostDiv = document.querySelector("#latestPosts");
        let posts = getPostsSubsection(latestPosts, step);
        latestPostDiv.innerHTML = postsToHTML(posts);
    }

    const getPostsSubsection = (posts, step) => {
        if(posts.length < 5) return posts;
        let start = step * 5;
        let stop = start + 5;
        if(stop > posts.length - 1) stop = posts.length;
        return posts.slice(start, stop)
    }

    const postsToHTML = posts => {
        let html = ``;
        for(let i = 0; i < posts.length; i++){
            let replies = repliesToHTML(posts[i].replies);
            html += `
            <div class="post">
                <a class="img-link" href="/user/${posts[i].user_id}"><img src=${posts[i].imageurl} class="img-post" /></a>
                <div>
                    <p class="post-heading"><span class="post-subject">${posts[i].heading}</span><span class="category">${posts[i].category}</span></p>
                    <p>${posts[i].details}</p>
                    <p>${posts[i].senddate}</p>
                    <p class="reply-count" onclick="toggleViewReplies(${posts[i].id})">${posts[i].replycount} replies</p>
                    <div id="post-replies${posts[i].id}" class="replies">
                        ${replies}
                        <form class="reply-form" action="/user/${user.id}/post/${posts[i].id}/reply" method="POST">
                            <textarea name="details" cols="49" rows="4" placeholder="Add your reply..."></textarea>
                            <input type="submit" value="Comment">
                        </form>
                    </div><!-- end replies --> 
                </div>
            </div>
            `
        }
        return html;
    }

    const repliesToHTML = replies => {
        let html = ``;
        for(let i = 0; i < replies.length; i++){
            html += `
                <div class="reply">
                    <div class="reply-img">
                        <img src=${replies[i].imageurl} class="img-reply">
                    </div>
                    <div class="reply-details">
                        <p>${replies[i].details}</p>
                    </div>
                </div>   
            `
        }
        return html;
    }


    if(latestPosts.length > 0){
        setLatestPosts(0);
    }

</script>