<div>
    <p>firstName:{{user.firstname}}</p>
    <p>lastName:{{user.lastname}}</p>
    <p>email:{{user.email}}</p>
    <p>image:{{user.imageurl}}</p>
    <p>about:{{user.about}}</p>
    <p>country:{{user.country}}</p>
    <p>dob:{{user.dob}}</p>
    <p>posts:{{user.postcount}}</p>
    <p>messages:{{user.messagecount}}</p>
    <p>likes:{{user.likes}}</p>

</div>